{
    "openapi": "3.0.0",
    "info": {
        "title": "H/F Platform API",
        "description": "H/F Platform API",
        "contact": {
            "name": "Dayan Betancourt",
            "email": "dayan@hf.cx"
        },
        "license": {
            "name": "MIT license",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://hfglobal.hf.cx/",
            "description": "Test Server"
        },
        {
            "url": "http://hfglobal.local:8080/",
            "description": "Local Server"
        }
    ],
    "paths": {
        "/api/register": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "Register User",
                "description": "Store a new user",
                "operationId": "a718f172ff3ac464d723835815f8fb57",
                "parameters": [
                    {
                        "name": "firstname",
                        "in": "query",
                        "description": "User's First name",
                        "required": true
                    },
                    {
                        "name": "lastname",
                        "in": "query",
                        "description": "User's Last name",
                        "required": true
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User's Email",
                        "required": true
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "User's Password",
                        "required": true
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "description": "User's Gender",
                        "required": false
                    },
                    {
                        "name": "birthdate",
                        "in": "query",
                        "description": "User's Birthdate",
                        "required": false
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "User's Phone",
                        "required": false
                    },
                    {
                        "name": "website",
                        "in": "query",
                        "description": "User's Website",
                        "required": false
                    },
                    {
                        "name": "occupation",
                        "in": "query",
                        "description": "User's Occupation",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Register User"
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "Login User",
                "description": "Login user",
                "operationId": "44212a9096e4b09358281e9ec8a0701d",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User's Email",
                        "required": true
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "User's Password",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Login User"
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "Logout User",
                "description": "Logout user",
                "operationId": "79854151e609bd20032aa5aa4d5a35c0",
                "responses": {
                    "200": {
                        "description": "Logout User"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/countries": {
            "get": {
                "tags": [
                    "countries"
                ],
                "summary": "Countries List",
                "description": "Display a listing of the resource.",
                "operationId": "124db23223a1f41b77e6de87362eaa2b",
                "responses": {
                    "200": {
                        "description": "Show all countries"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "countries"
                ],
                "summary": "Create Country",
                "description": "Store a newly created resource in storage.",
                "operationId": "3a95145d1f2576ea5063ecdd520f3e4d",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Country's Name",
                        "required": true
                    },
                    {
                        "name": "iso3",
                        "in": "query",
                        "description": "ISO 3",
                        "required": false
                    },
                    {
                        "name": "numeric_code",
                        "in": "query",
                        "description": "Numeric Code",
                        "required": false
                    },
                    {
                        "name": "iso2",
                        "in": "query",
                        "description": "ISO 2",
                        "required": false
                    },
                    {
                        "name": "phonecode",
                        "in": "query",
                        "description": "Phone Code",
                        "required": false
                    },
                    {
                        "name": "capital",
                        "in": "query",
                        "description": "Capital",
                        "required": false
                    },
                    {
                        "name": "currency",
                        "in": "query",
                        "description": "Currency",
                        "required": false
                    },
                    {
                        "name": "currency_name",
                        "in": "query",
                        "description": "Currency Name",
                        "required": false
                    },
                    {
                        "name": "currency_symbol",
                        "in": "query",
                        "description": "Currency Symbol",
                        "required": false
                    },
                    {
                        "name": "tld",
                        "in": "query",
                        "description": "TLD",
                        "required": false
                    },
                    {
                        "name": "native",
                        "in": "query",
                        "description": "Native",
                        "required": false
                    },
                    {
                        "name": "region",
                        "in": "query",
                        "description": "Region",
                        "required": false
                    },
                    {
                        "name": "subregion",
                        "in": "query",
                        "description": "Subregion",
                        "required": false
                    },
                    {
                        "name": "timezones",
                        "in": "query",
                        "description": "Timezones",
                        "required": true
                    },
                    {
                        "name": "translations",
                        "in": "query",
                        "description": "Translations",
                        "required": true
                    },
                    {
                        "name": "latitude",
                        "in": "query",
                        "description": "Latitude",
                        "required": false
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "description": "Longitude",
                        "required": false
                    },
                    {
                        "name": "emoji",
                        "in": "query",
                        "description": "Emoji",
                        "required": false
                    },
                    {
                        "name": "emojiU",
                        "in": "query",
                        "description": "Emoji U",
                        "required": false
                    },
                    {
                        "name": "flag",
                        "in": "query",
                        "description": "Flag",
                        "required": false
                    },
                    {
                        "name": "wikiDataId",
                        "in": "query",
                        "description": "WikiData Id",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Country Created"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/countries/{country}": {
            "get": {
                "tags": [
                    "countries"
                ],
                "summary": "Country",
                "description": "Display the specified resource.",
                "operationId": "91f76e31796acf0a967791e3772cda68",
                "parameters": [
                    {
                        "name": "country",
                        "in": "path",
                        "description": "Country's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show Country"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "countries"
                ],
                "summary": "Update Country",
                "description": "Update the specified resource in storage.",
                "operationId": "df5394040d06a30a573a828bf316e862",
                "parameters": [
                    {
                        "name": "country",
                        "in": "path",
                        "description": "Country's ID",
                        "required": true
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Country's Name",
                        "required": true
                    },
                    {
                        "name": "iso3",
                        "in": "query",
                        "description": "ISO 3",
                        "required": false
                    },
                    {
                        "name": "numeric_code",
                        "in": "query",
                        "description": "Numeric Code",
                        "required": false
                    },
                    {
                        "name": "iso2",
                        "in": "query",
                        "description": "ISO 2",
                        "required": false
                    },
                    {
                        "name": "phonecode",
                        "in": "query",
                        "description": "Phone Code",
                        "required": false
                    },
                    {
                        "name": "capital",
                        "in": "query",
                        "description": "Capital",
                        "required": false
                    },
                    {
                        "name": "currency",
                        "in": "query",
                        "description": "Currency",
                        "required": false
                    },
                    {
                        "name": "currency_name",
                        "in": "query",
                        "description": "Currency Name",
                        "required": false
                    },
                    {
                        "name": "currency_symbol",
                        "in": "query",
                        "description": "Currency Symbol",
                        "required": false
                    },
                    {
                        "name": "tld",
                        "in": "query",
                        "description": "TLD",
                        "required": false
                    },
                    {
                        "name": "native",
                        "in": "query",
                        "description": "Native",
                        "required": false
                    },
                    {
                        "name": "region",
                        "in": "query",
                        "description": "Region",
                        "required": false
                    },
                    {
                        "name": "subregion",
                        "in": "query",
                        "description": "Subregion",
                        "required": false
                    },
                    {
                        "name": "timezones",
                        "in": "query",
                        "description": "Timezones",
                        "required": true
                    },
                    {
                        "name": "translations",
                        "in": "query",
                        "description": "Translations",
                        "required": true
                    },
                    {
                        "name": "latitude",
                        "in": "query",
                        "description": "Latitude",
                        "required": false
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "description": "Longitude",
                        "required": false
                    },
                    {
                        "name": "emoji",
                        "in": "query",
                        "description": "Emoji",
                        "required": false
                    },
                    {
                        "name": "emojiU",
                        "in": "query",
                        "description": "Emoji U",
                        "required": false
                    },
                    {
                        "name": "flag",
                        "in": "query",
                        "description": "Flag",
                        "required": false
                    },
                    {
                        "name": "wikiDataId",
                        "in": "query",
                        "description": "WikiData Id",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Country Updated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "countries"
                ],
                "summary": "Delete Country",
                "description": "Remove the specified resource from storage.",
                "operationId": "fb3b53e1c1d87def0ebd7ce7c0531453",
                "parameters": [
                    {
                        "name": "country",
                        "in": "path",
                        "description": "Country's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Country Deleted"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/occupations": {
            "get": {
                "tags": [
                    "occupations"
                ],
                "summary": "Occupations List",
                "description": "Display a listing of the resource.",
                "operationId": "560969ad18564364c059389ebc65e6f2",
                "responses": {
                    "200": {
                        "description": "Show all occupations"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "occupations"
                ],
                "summary": "Create Occupation",
                "description": "Store a newly created resource in storage.",
                "operationId": "7cdb34ae54c2c7a6973d6a190a2682e5",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Occupation's Name",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Occupation Created"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/occupations/{occupation}": {
            "get": {
                "tags": [
                    "occupations"
                ],
                "summary": "Occupation",
                "description": "Display the specified resource.",
                "operationId": "64b8a28013c820498496c8a5c6564d7b",
                "parameters": [
                    {
                        "name": "occupation",
                        "in": "path",
                        "description": "Occupation's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show Occupation"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "occupations"
                ],
                "summary": "Update Occupation",
                "description": "Update the specified resource in storage.",
                "operationId": "d2d1be08fc3e42a8bf7a36e98c32f1ab",
                "parameters": [
                    {
                        "name": "occupation",
                        "in": "path",
                        "description": "Occupation's ID",
                        "required": true
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Occupation's Name",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Occupation Updated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "occupations"
                ],
                "summary": "Delete Occupation",
                "description": "Remove the specified resource from storage.",
                "operationId": "2a7b9adeec021edef61b265885ac4747",
                "parameters": [
                    {
                        "name": "occupation",
                        "in": "path",
                        "description": "Occupation's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Occupation Deleted"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/social_media": {
            "get": {
                "tags": [
                    "social media"
                ],
                "summary": "Social Media List",
                "description": "Display a listing of the resource.",
                "operationId": "1152128581f272063dace621e93f8068",
                "responses": {
                    "200": {
                        "description": "Show all social media"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "social media"
                ],
                "summary": "Create Social Media",
                "description": "Store a newly created resource in storage.",
                "operationId": "407dd0ccd0bba9a73ece7fce28ec22b0",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Social Media's Name",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Social Media Created"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/social_media/{socialMedia}": {
            "get": {
                "tags": [
                    "social media"
                ],
                "summary": "Social Media",
                "description": "Display the specified resource.",
                "operationId": "457569135ecc8ced3caf3940a4799f25",
                "parameters": [
                    {
                        "name": "socialMedia",
                        "in": "path",
                        "description": "Social Media's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show Social Media"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "social media"
                ],
                "summary": "Update Social Media",
                "description": "Update the specified resource in storage.",
                "operationId": "9bed3f73d7531a0f22b6d2e10f36cc3f",
                "parameters": [
                    {
                        "name": "socialMedia",
                        "in": "path",
                        "description": "Social Media's ID",
                        "required": true
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Social Media's Name",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Social Media Updated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "social media"
                ],
                "summary": "Delete Social Media",
                "description": "Remove the specified resource from storage.",
                "operationId": "e451c06f4b5e928e0ad7d0f993129693",
                "parameters": [
                    {
                        "name": "socialMedia",
                        "in": "path",
                        "description": "Social Media's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Social Media Deleted"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/users": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "Users List",
                "description": "Display a listing of the resource.",
                "operationId": "d7a57f4d7de18fb0f92501172472c9b6",
                "responses": {
                    "200": {
                        "description": "Show all users"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "Create User",
                "description": "Store a newly created resource in storage.",
                "operationId": "9fea6f2adcb69614c521a7733358382d",
                "parameters": [
                    {
                        "name": "firstname",
                        "in": "query",
                        "description": "User's First name",
                        "required": true
                    },
                    {
                        "name": "lastname",
                        "in": "query",
                        "description": "User's Last name",
                        "required": true
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User's Email",
                        "required": true
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "User's Password",
                        "required": true
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "description": "User's Gender",
                        "required": false
                    },
                    {
                        "name": "birthdate",
                        "in": "query",
                        "description": "User's Birthdate",
                        "required": false
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "User's Phone",
                        "required": false
                    },
                    {
                        "name": "website",
                        "in": "query",
                        "description": "User's Website",
                        "required": false
                    },
                    {
                        "name": "occupation",
                        "in": "query",
                        "description": "User's Occupation",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User Created"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/users/{user}": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "User",
                "description": "Display the specified resource.",
                "operationId": "8ef94a31920758a2ea8c4a11c4a85c73",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "User's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show User"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "users"
                ],
                "summary": "Update User",
                "description": "Update the specified resource in storage.",
                "operationId": "d8774c2ad802c372cefa655ff2fe989d",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "User's ID",
                        "required": true
                    },
                    {
                        "name": "firstname",
                        "in": "query",
                        "description": "User's First name",
                        "required": true
                    },
                    {
                        "name": "lastname",
                        "in": "query",
                        "description": "User's Last name",
                        "required": true
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User's Email",
                        "required": true
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "description": "User's Gender",
                        "required": false
                    },
                    {
                        "name": "birthdate",
                        "in": "query",
                        "description": "User's Birthdate",
                        "required": false
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "User's Phone",
                        "required": false
                    },
                    {
                        "name": "website",
                        "in": "query",
                        "description": "User's Website",
                        "required": false
                    },
                    {
                        "name": "occupation",
                        "in": "query",
                        "description": "User's Occupation",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User Updated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "users"
                ],
                "summary": "Delete User",
                "description": "Remove the specified resource from storage.",
                "operationId": "d2769c9ccb9342ab54329ddb86aa438c",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "User's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User Deleted"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "sanctum": {
                "type": "apiKey",
                "description": "Enter token in format (Bearer <token>)",
                "name": "Authorization",
                "in": "header"
            }
        }
    }
}