{
    "openapi": "3.0.0",
    "info": {
        "title": "H/F Platform API",
        "description": "H/F Platform API",
        "contact": {
            "name": "Dayan Betancourt",
            "email": "dayan@hf.cx"
        },
        "license": {
            "name": "MIT license",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://hfglobal.hf.cx/",
            "description": "Test Server"
        },
        {
            "url": "http://hfglobal.local:8080/",
            "description": "Local Server"
        }
    ],
    "paths": {
        "/api/register": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "Register User",
                "description": "Store a new user",
                "operationId": "a718f172ff3ac464d723835815f8fb57",
                "parameters": [
                    {
                        "name": "firstname",
                        "in": "query",
                        "description": "User's First name",
                        "required": true
                    },
                    {
                        "name": "lastname",
                        "in": "query",
                        "description": "User's Last name",
                        "required": true
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User's Email",
                        "required": true
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "User's Password",
                        "required": true
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "description": "User's Gender",
                        "required": false
                    },
                    {
                        "name": "birthdate",
                        "in": "query",
                        "description": "User's Birthdate",
                        "required": false
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "User's Phone",
                        "required": false
                    },
                    {
                        "name": "website",
                        "in": "query",
                        "description": "User's Website",
                        "required": false
                    },
                    {
                        "name": "occupation",
                        "in": "query",
                        "description": "User's Occupation",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Register User"
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "Login User",
                "description": "Login user",
                "operationId": "44212a9096e4b09358281e9ec8a0701d",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User's Email",
                        "required": true
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "User's Password",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Login User"
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "Logout User",
                "description": "Logout user",
                "operationId": "79854151e609bd20032aa5aa4d5a35c0",
                "responses": {
                    "200": {
                        "description": "Logout User"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/chapters": {
            "get": {
                "tags": [
                    "chapters"
                ],
                "summary": "Chapters List",
                "description": "Display a listing of the resource.",
                "operationId": "a09e626f11a0679cdf99643029b567b1",
                "responses": {
                    "200": {
                        "description": "Show all chapters"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "chapters"
                ],
                "summary": "Create Chapter",
                "description": "Store a newly created resource in storage.",
                "operationId": "866975f2ef9c930eaee84478c48264c7",
                "parameters": [
                    {
                        "name": "country",
                        "in": "query",
                        "description": "Country's ID",
                        "required": true
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "description": "City's ID",
                        "required": true
                    },
                    {
                        "name": "leader",
                        "in": "query",
                        "description": "LEader's ID",
                        "required": true
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "description": "Foundation's Year",
                        "required": true
                    },
                    {
                        "name": "website",
                        "in": "query",
                        "description": "Website",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Chapter Created"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/chapters/{chapter}": {
            "get": {
                "tags": [
                    "chapters"
                ],
                "summary": "Chapter",
                "description": "Display the specified resource.",
                "operationId": "a7079879d9120c5397b80a3491e3aec2",
                "parameters": [
                    {
                        "name": "chapter",
                        "in": "path",
                        "description": "Chapter's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show Chapter"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "chapters"
                ],
                "summary": "Update Chapter",
                "description": "Update the specified resource in storage.",
                "operationId": "1d3e8614fe55fe95aa131f66e2416351",
                "parameters": [
                    {
                        "name": "chapter",
                        "in": "path",
                        "description": "Chapter's ID",
                        "required": true
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "Country's ID",
                        "required": true
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "description": "City's ID",
                        "required": true
                    },
                    {
                        "name": "leader",
                        "in": "query",
                        "description": "LEader's ID",
                        "required": true
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "description": "Foundation's Year",
                        "required": true
                    },
                    {
                        "name": "website",
                        "in": "query",
                        "description": "Website",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Chapter Updated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "chapters"
                ],
                "summary": "Delete Chapter",
                "description": "Remove the specified resource from storage.",
                "operationId": "afbb2d0c6766a7964d73e79093adc642",
                "parameters": [
                    {
                        "name": "chapter",
                        "in": "path",
                        "description": "Chapter's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Chapter Deleted"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/countries/{country}/cities": {
            "get": {
                "tags": [
                    "cities"
                ],
                "summary": "Cities List",
                "description": "Display a listing of the resource.",
                "operationId": "3bd634421ee94c29906d5a42c4166a22",
                "parameters": [
                    {
                        "name": "country",
                        "in": "path",
                        "description": "Country's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show all cities"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "cities"
                ],
                "summary": "Create City",
                "description": "Store a newly created resource in storage.",
                "operationId": "caab51035736093f5fddeddaa1a612de",
                "parameters": [
                    {
                        "name": "country",
                        "in": "path",
                        "description": "Country's ID",
                        "required": true
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "City's Name",
                        "required": true
                    },
                    {
                        "name": "state_id",
                        "in": "query",
                        "description": "State's ID",
                        "required": true
                    },
                    {
                        "name": "latitude",
                        "in": "query",
                        "description": "Latitude",
                        "required": true
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "description": "Longitude",
                        "required": true
                    },
                    {
                        "name": "flag",
                        "in": "query",
                        "description": "Flag",
                        "required": false
                    },
                    {
                        "name": "wikiDataId",
                        "in": "query",
                        "description": "WikiData Id",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Country Created"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/cities/{city}": {
            "get": {
                "tags": [
                    "cities"
                ],
                "summary": "City",
                "description": "Display the specified resource.",
                "operationId": "ce7eb896074577148609326883f57e50",
                "parameters": [
                    {
                        "name": "city",
                        "in": "path",
                        "description": "City's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show City"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "cities"
                ],
                "summary": "Update City",
                "description": "Update the specified resource in storage.",
                "operationId": "7360bd0848b9c0ce7c4e6aa3d0ae4be1",
                "parameters": [
                    {
                        "name": "city",
                        "in": "path",
                        "description": "City's ID",
                        "required": true
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "City's Name",
                        "required": true
                    },
                    {
                        "name": "state_id",
                        "in": "query",
                        "description": "State's ID",
                        "required": true
                    },
                    {
                        "name": "country_id",
                        "in": "query",
                        "description": "Country's ID",
                        "required": true
                    },
                    {
                        "name": "latitude",
                        "in": "query",
                        "description": "Latitude",
                        "required": true
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "description": "Longitude",
                        "required": true
                    },
                    {
                        "name": "flag",
                        "in": "query",
                        "description": "Flag",
                        "required": false
                    },
                    {
                        "name": "wikiDataId",
                        "in": "query",
                        "description": "WikiData Id",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "City Updated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "cities"
                ],
                "summary": "Delete City",
                "description": "Remove the specified resource from storage.",
                "operationId": "30b11daf34a4292967b083ffc9ce894b",
                "parameters": [
                    {
                        "name": "city",
                        "in": "path",
                        "description": "City's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "City Deleted"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/countries": {
            "get": {
                "tags": [
                    "countries"
                ],
                "summary": "Countries List",
                "description": "Display a listing of the resource.",
                "operationId": "124db23223a1f41b77e6de87362eaa2b",
                "responses": {
                    "200": {
                        "description": "Show all countries"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "countries"
                ],
                "summary": "Create Country",
                "description": "Store a newly created resource in storage.",
                "operationId": "3a95145d1f2576ea5063ecdd520f3e4d",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Country's Name",
                        "required": true
                    },
                    {
                        "name": "iso3",
                        "in": "query",
                        "description": "ISO 3",
                        "required": false
                    },
                    {
                        "name": "numeric_code",
                        "in": "query",
                        "description": "Numeric Code",
                        "required": false
                    },
                    {
                        "name": "iso2",
                        "in": "query",
                        "description": "ISO 2",
                        "required": false
                    },
                    {
                        "name": "phonecode",
                        "in": "query",
                        "description": "Phone Code",
                        "required": false
                    },
                    {
                        "name": "capital",
                        "in": "query",
                        "description": "Capital",
                        "required": false
                    },
                    {
                        "name": "currency",
                        "in": "query",
                        "description": "Currency",
                        "required": false
                    },
                    {
                        "name": "currency_name",
                        "in": "query",
                        "description": "Currency Name",
                        "required": false
                    },
                    {
                        "name": "currency_symbol",
                        "in": "query",
                        "description": "Currency Symbol",
                        "required": false
                    },
                    {
                        "name": "tld",
                        "in": "query",
                        "description": "TLD",
                        "required": false
                    },
                    {
                        "name": "native",
                        "in": "query",
                        "description": "Native",
                        "required": false
                    },
                    {
                        "name": "region",
                        "in": "query",
                        "description": "Region",
                        "required": false
                    },
                    {
                        "name": "subregion",
                        "in": "query",
                        "description": "Subregion",
                        "required": false
                    },
                    {
                        "name": "timezones",
                        "in": "query",
                        "description": "Timezones",
                        "required": true
                    },
                    {
                        "name": "translations",
                        "in": "query",
                        "description": "Translations",
                        "required": true
                    },
                    {
                        "name": "latitude",
                        "in": "query",
                        "description": "Latitude",
                        "required": false
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "description": "Longitude",
                        "required": false
                    },
                    {
                        "name": "emoji",
                        "in": "query",
                        "description": "Emoji",
                        "required": false
                    },
                    {
                        "name": "emojiU",
                        "in": "query",
                        "description": "Emoji U",
                        "required": false
                    },
                    {
                        "name": "flag",
                        "in": "query",
                        "description": "Flag",
                        "required": false
                    },
                    {
                        "name": "wikiDataId",
                        "in": "query",
                        "description": "WikiData Id",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Country Created"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/countries/{country}": {
            "get": {
                "tags": [
                    "countries"
                ],
                "summary": "Country",
                "description": "Display the specified resource.",
                "operationId": "91f76e31796acf0a967791e3772cda68",
                "parameters": [
                    {
                        "name": "country",
                        "in": "path",
                        "description": "Country's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show Country"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "countries"
                ],
                "summary": "Update Country",
                "description": "Update the specified resource in storage.",
                "operationId": "df5394040d06a30a573a828bf316e862",
                "parameters": [
                    {
                        "name": "country",
                        "in": "path",
                        "description": "Country's ID",
                        "required": true
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Country's Name",
                        "required": true
                    },
                    {
                        "name": "iso3",
                        "in": "query",
                        "description": "ISO 3",
                        "required": false
                    },
                    {
                        "name": "numeric_code",
                        "in": "query",
                        "description": "Numeric Code",
                        "required": false
                    },
                    {
                        "name": "iso2",
                        "in": "query",
                        "description": "ISO 2",
                        "required": false
                    },
                    {
                        "name": "phonecode",
                        "in": "query",
                        "description": "Phone Code",
                        "required": false
                    },
                    {
                        "name": "capital",
                        "in": "query",
                        "description": "Capital",
                        "required": false
                    },
                    {
                        "name": "currency",
                        "in": "query",
                        "description": "Currency",
                        "required": false
                    },
                    {
                        "name": "currency_name",
                        "in": "query",
                        "description": "Currency Name",
                        "required": false
                    },
                    {
                        "name": "currency_symbol",
                        "in": "query",
                        "description": "Currency Symbol",
                        "required": false
                    },
                    {
                        "name": "tld",
                        "in": "query",
                        "description": "TLD",
                        "required": false
                    },
                    {
                        "name": "native",
                        "in": "query",
                        "description": "Native",
                        "required": false
                    },
                    {
                        "name": "region",
                        "in": "query",
                        "description": "Region",
                        "required": false
                    },
                    {
                        "name": "subregion",
                        "in": "query",
                        "description": "Subregion",
                        "required": false
                    },
                    {
                        "name": "timezones",
                        "in": "query",
                        "description": "Timezones",
                        "required": true
                    },
                    {
                        "name": "translations",
                        "in": "query",
                        "description": "Translations",
                        "required": true
                    },
                    {
                        "name": "latitude",
                        "in": "query",
                        "description": "Latitude",
                        "required": false
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "description": "Longitude",
                        "required": false
                    },
                    {
                        "name": "emoji",
                        "in": "query",
                        "description": "Emoji",
                        "required": false
                    },
                    {
                        "name": "emojiU",
                        "in": "query",
                        "description": "Emoji U",
                        "required": false
                    },
                    {
                        "name": "flag",
                        "in": "query",
                        "description": "Flag",
                        "required": false
                    },
                    {
                        "name": "wikiDataId",
                        "in": "query",
                        "description": "WikiData Id",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Country Updated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "countries"
                ],
                "summary": "Delete Country",
                "description": "Remove the specified resource from storage.",
                "operationId": "fb3b53e1c1d87def0ebd7ce7c0531453",
                "parameters": [
                    {
                        "name": "country",
                        "in": "path",
                        "description": "Country's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Country Deleted"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/occupations": {
            "get": {
                "tags": [
                    "occupations"
                ],
                "summary": "Occupations List",
                "description": "Display a listing of the resource.",
                "operationId": "560969ad18564364c059389ebc65e6f2",
                "responses": {
                    "200": {
                        "description": "Show all occupations"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "occupations"
                ],
                "summary": "Create Occupation",
                "description": "Store a newly created resource in storage.",
                "operationId": "7cdb34ae54c2c7a6973d6a190a2682e5",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Occupation's Name",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Occupation Created"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/occupations/{occupation}": {
            "get": {
                "tags": [
                    "occupations"
                ],
                "summary": "Occupation",
                "description": "Display the specified resource.",
                "operationId": "64b8a28013c820498496c8a5c6564d7b",
                "parameters": [
                    {
                        "name": "occupation",
                        "in": "path",
                        "description": "Occupation's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show Occupation"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "occupations"
                ],
                "summary": "Update Occupation",
                "description": "Update the specified resource in storage.",
                "operationId": "d2d1be08fc3e42a8bf7a36e98c32f1ab",
                "parameters": [
                    {
                        "name": "occupation",
                        "in": "path",
                        "description": "Occupation's ID",
                        "required": true
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Occupation's Name",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Occupation Updated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "occupations"
                ],
                "summary": "Delete Occupation",
                "description": "Remove the specified resource from storage.",
                "operationId": "2a7b9adeec021edef61b265885ac4747",
                "parameters": [
                    {
                        "name": "occupation",
                        "in": "path",
                        "description": "Occupation's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Occupation Deleted"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/social_media": {
            "get": {
                "tags": [
                    "social media"
                ],
                "summary": "Social Media List",
                "description": "Display a listing of the resource.",
                "operationId": "1152128581f272063dace621e93f8068",
                "responses": {
                    "200": {
                        "description": "Show all social media"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "social media"
                ],
                "summary": "Create Social Media",
                "description": "Store a newly created resource in storage.",
                "operationId": "407dd0ccd0bba9a73ece7fce28ec22b0",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Social Media's Name",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Social Media Created"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/social_media/{socialMedia}": {
            "get": {
                "tags": [
                    "social media"
                ],
                "summary": "Social Media",
                "description": "Display the specified resource.",
                "operationId": "457569135ecc8ced3caf3940a4799f25",
                "parameters": [
                    {
                        "name": "socialMedia",
                        "in": "path",
                        "description": "Social Media's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show Social Media"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "social media"
                ],
                "summary": "Update Social Media",
                "description": "Update the specified resource in storage.",
                "operationId": "9bed3f73d7531a0f22b6d2e10f36cc3f",
                "parameters": [
                    {
                        "name": "socialMedia",
                        "in": "path",
                        "description": "Social Media's ID",
                        "required": true
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Social Media's Name",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Social Media Updated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "social media"
                ],
                "summary": "Delete Social Media",
                "description": "Remove the specified resource from storage.",
                "operationId": "e451c06f4b5e928e0ad7d0f993129693",
                "parameters": [
                    {
                        "name": "socialMedia",
                        "in": "path",
                        "description": "Social Media's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Social Media Deleted"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/users/{user}/social_medias": {
            "get": {
                "tags": [
                    "social_media_user"
                ],
                "summary": "User's Social Media List",
                "description": "Display a listing of the resource.",
                "operationId": "3e1e40dee3ee30025012c9d4b5f44eca",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "User's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show all user's social media"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "social_media_user"
                ],
                "summary": "Create User's Social Media",
                "description": "Store a newly created resource in storage.",
                "operationId": "112ad16291cfff638bbba2a8339d2928",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "User's ID",
                        "required": true
                    },
                    {
                        "name": "social_media",
                        "in": "query",
                        "description": "Social Media's ID",
                        "required": true
                    },
                    {
                        "name": "url",
                        "in": "query",
                        "description": "Social Media's URL",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User's Social Media Created"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/social_medias/{social_media}": {
            "get": {
                "tags": [
                    "social_media_user"
                ],
                "summary": "User's Social Media",
                "description": "Display the specified resource.",
                "operationId": "6361ffd760c65647b8870adc8507b931",
                "parameters": [
                    {
                        "name": "social_media",
                        "in": "path",
                        "description": "SocialMedia-User ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show User's Social Media"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "social_media_user"
                ],
                "summary": "Update User's Social Media",
                "description": "Update the specified resource in storage.",
                "operationId": "feb51c6a7b862997de588a5b47071bed",
                "parameters": [
                    {
                        "name": "social_media",
                        "in": "path",
                        "description": "SocialMedia-User ID",
                        "required": true
                    },
                    {
                        "name": "url",
                        "in": "query",
                        "description": "Social Media's URL",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User's Social Media Updated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "social_media_user"
                ],
                "summary": "Delete User's Social Media",
                "description": "Remove the specified resource from storage.",
                "operationId": "35265eb2f9c5e855150b319dfb1836d7",
                "parameters": [
                    {
                        "name": "social_media",
                        "in": "path",
                        "description": "SocialMedia-User ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User's Social Media Deleted"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/countries/{country}/states": {
            "get": {
                "tags": [
                    "states"
                ],
                "summary": "States List",
                "description": "Display a listing of the resource.",
                "operationId": "1a1cd4803ecfd43f8a9d85e1bd3b5bf1",
                "parameters": [
                    {
                        "name": "country",
                        "in": "path",
                        "description": "Country's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show all states"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "states"
                ],
                "summary": "Create State",
                "description": "Store a newly created resource in storage.",
                "operationId": "199303e4ccf27055c3b7376a507f2877",
                "parameters": [
                    {
                        "name": "country",
                        "in": "path",
                        "description": "Country's ID",
                        "required": true
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "State's Name",
                        "required": true
                    },
                    {
                        "name": "fips_code",
                        "in": "query",
                        "description": "Fips Code",
                        "required": false
                    },
                    {
                        "name": "iso2",
                        "in": "query",
                        "description": "ISO 2",
                        "required": false
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Type",
                        "required": false
                    },
                    {
                        "name": "latitude",
                        "in": "query",
                        "description": "Latitude",
                        "required": false
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "description": "Longitude",
                        "required": false
                    },
                    {
                        "name": "flag",
                        "in": "query",
                        "description": "Flag",
                        "required": false
                    },
                    {
                        "name": "wikiDataId",
                        "in": "query",
                        "description": "WikiData Id",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Country Created"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/states/{state}": {
            "get": {
                "tags": [
                    "states"
                ],
                "summary": "State",
                "description": "Display the specified resource.",
                "operationId": "cdaa6814a7f2f9e09cf19d1e0f678cdf",
                "parameters": [
                    {
                        "name": "state",
                        "in": "path",
                        "description": "State's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show State"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "states"
                ],
                "summary": "Update State",
                "description": "Update the specified resource in storage.",
                "operationId": "23ebdd1c0498f6880013327e7afa4162",
                "parameters": [
                    {
                        "name": "state",
                        "in": "path",
                        "description": "State's ID",
                        "required": true
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "State's Name",
                        "required": true
                    },
                    {
                        "name": "country_id",
                        "in": "query",
                        "description": "Country's ID",
                        "required": true
                    },
                    {
                        "name": "fips_code",
                        "in": "query",
                        "description": "Fips Code",
                        "required": false
                    },
                    {
                        "name": "iso2",
                        "in": "query",
                        "description": "ISO 2",
                        "required": false
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Type",
                        "required": false
                    },
                    {
                        "name": "latitude",
                        "in": "query",
                        "description": "Latitude",
                        "required": false
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "description": "Longitude",
                        "required": false
                    },
                    {
                        "name": "flag",
                        "in": "query",
                        "description": "Flag",
                        "required": false
                    },
                    {
                        "name": "wikiDataId",
                        "in": "query",
                        "description": "WikiData Id",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "State Updated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "states"
                ],
                "summary": "Delete State",
                "description": "Remove the specified resource from storage.",
                "operationId": "6c78ced9e294bed363aeb266940dfa5e",
                "parameters": [
                    {
                        "name": "state",
                        "in": "path",
                        "description": "State's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "State Deleted"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/users": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "Users List",
                "description": "Display a listing of the resource.",
                "operationId": "d7a57f4d7de18fb0f92501172472c9b6",
                "responses": {
                    "200": {
                        "description": "Show all users"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "Create User",
                "description": "Store a newly created resource in storage.",
                "operationId": "9fea6f2adcb69614c521a7733358382d",
                "parameters": [
                    {
                        "name": "firstname",
                        "in": "query",
                        "description": "User's First name",
                        "required": true
                    },
                    {
                        "name": "lastname",
                        "in": "query",
                        "description": "User's Last name",
                        "required": true
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User's Email",
                        "required": true
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "User's Password",
                        "required": true
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "description": "User's Gender",
                        "required": false
                    },
                    {
                        "name": "birthdate",
                        "in": "query",
                        "description": "User's Birthdate",
                        "required": false
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "User's Phone",
                        "required": false
                    },
                    {
                        "name": "website",
                        "in": "query",
                        "description": "User's Website",
                        "required": false
                    },
                    {
                        "name": "occupation",
                        "in": "query",
                        "description": "User's Occupation",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User Created"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/users/{user}": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "User",
                "description": "Display the specified resource.",
                "operationId": "8ef94a31920758a2ea8c4a11c4a85c73",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "User's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show User"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "users"
                ],
                "summary": "Update User",
                "description": "Update the specified resource in storage.",
                "operationId": "d8774c2ad802c372cefa655ff2fe989d",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "User's ID",
                        "required": true
                    },
                    {
                        "name": "firstname",
                        "in": "query",
                        "description": "User's First name",
                        "required": true
                    },
                    {
                        "name": "lastname",
                        "in": "query",
                        "description": "User's Last name",
                        "required": true
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User's Email",
                        "required": true
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "description": "User's Gender",
                        "required": false
                    },
                    {
                        "name": "birthdate",
                        "in": "query",
                        "description": "User's Birthdate",
                        "required": false
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "User's Phone",
                        "required": false
                    },
                    {
                        "name": "website",
                        "in": "query",
                        "description": "User's Website",
                        "required": false
                    },
                    {
                        "name": "occupation",
                        "in": "query",
                        "description": "User's Occupation",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User Updated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "users"
                ],
                "summary": "Delete User",
                "description": "Remove the specified resource from storage.",
                "operationId": "d2769c9ccb9342ab54329ddb86aa438c",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "User's ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User Deleted"
                    },
                    "default": {
                        "description": "An error has occurred"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "sanctum": {
                "type": "apiKey",
                "description": "Enter token in format (Bearer <token>)",
                "name": "Authorization",
                "in": "header"
            }
        }
    }
}